{% extends 'layout.html' %}

{% block body %}

<br>
<br>
<center> <h1 style=" color: #904eb2; " ><i class="fa-solid fa-bowl-food fa-lg"></i>Tacos<i class="fa-solid fa-bowl-food fa-lg"></i></h1> </center>
<br>
<br>
<div style=" display: flex; flex-direction: row; justify-content: space-around; " >
	<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taco Chingon</h5>
    <p class="card-text">carne de res molida con frijoles caraota $4.500</p>
  </div>
</div>	
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taco de Pollo</h5>
    <p class="card-text">pollo desmechado marinado con especies y achote $4.500</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taco de Carenitas</h5>
    <p class="card-text">cerdo confitado por 6 horas con cerveza, laurel y pimientas $4.500</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taco de Cochinita pibl</h5>
    <p class="card-text">cerdo mariando con achote, coriandro y zumo de naranja $4.500</p>
  </div>
</div>
</div>

<br><br><br>

<div style=" display: flex; flex-direction: row; justify-content: space-around; " >
	<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taco Vegetariano</h5>
    <p class="card-text">zuquini saltado en sal especial y queso $4.500</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taco Canpechano</h5>
    <p class="card-text">tocino tostado con chorrizo $4.500</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taco birria</h5>
    <p class="card-text">sobrebarriga marinada en tomate, chile y especias. con queso $5.000</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Taco Arequipe</h5>
    <p class="card-text">$3.000</p>
  </div>
</div>
</div>

<br>
<br>
</div>

<div>

<!--comdos :3-->

<br>
<center> <h1 style=" color: #904eb2" ><i class="fa-solid fa-people-group fa-lg"></i>combos<i class="fa-solid fa-people-group fa-lg"></i></h1> </center>
<br>
<br>
<div style=" display: flex; flex-direction: row; justify-content: space-around; " >
	<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Combo 1</h5>
    <p class="card-text">5 tacos mas gaseosa $19.000</p>
  </div>
</div>	
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Combo 2</h5>
    <p class="card-text">5 tacos con queso y gaseosa $23.000</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Combo 3</h5>
    <p class="card-text">4 tacos de birria mas gaseosa $19.000</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Combo ilimitados</h5>
    <p class="card-text">
    	Reglas <br> 
    	1.combo por persona <br>
    	2.duracion 1 hora <br>
    	3.no compartir no llevar <br>
    	4.tacos de carnitas, cochinita, pollo, chingon y vegetariano<br>
    	$	35.000
    </p>
  </div>
</div>
</div>

<br><br>

</div>


<div>

<!--burrito y quesadillas :3-->

<br>
<div style=" display: flex; justify-content: space-around; " >
<h1 style=" color: #904eb2" ><i class="fa-solid fa-people-group fa-lg"></i>burritos<i class="fa-solid fa-people-group fa-lg"></i></h1>
<h1 style=" color: #904eb2; " ><i class="fa-solid fa-people-group fa-lg"></i>quesadilla<i class="fa-solid fa-people-group fa-lg"></i></h1>
</div>
<br>
<br>
<div style=" display: flex; flex-direction: row; justify-content: space-around; " >
	<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Burrito</h5>
    <p class="card-text">tortilla de trigo relleno con arroz verde, lechuga, queso, suero, frijol refito y la proteina que escojas $14500</p>
  </div>
</div>	
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Burrito en Combo</h5>
    <p class="card-text">burrito acompañado de crocantes de maiz, guacamole y gaseosa $18500</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Combo 3</h5>
    <p class="card-text">4 tacos de birria mas gaseosa $19000</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Combo ilimitados</h5>
    <p class="card-text">
    	Reglas <br> 
    	1.combo por persona <br>
    	2.duracion 1 hora <br>
    	3.no compartir no llevar <br>
    	4.tacos de carnitas, cochinita, pollo, chingon y vegetariano
    </p>
  </div>
</div>
</div>
<br>
<br>

<!--x2 bedidas-->

<div>

<br>
<center> <h1 style=" color: #904eb2; " ><i class="fa-solid fa-whiskey-glass fa-lg"></i>Bedidas<i class="fa-solid fa-whiskey-glass fa-lg"></i></h1> </center>
<br>
<br>

<div style=" display: flex; flex-direction: row; justify-content: space-around; " >
	<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>

<br><br><br>

<div style=" display: flex; flex-direction: row; justify-content: space-around; " >
	<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-dark border-bottom border-body" data-bs-theme="dark" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>


<br>
</div>

{% endblock %}